.data-hora {
    text-align: center;
}

#dialog-ponto{
    border: 0;
}

#dialog-fechar{

    border: 0;
    position:absolute;
    top: 0;
    right: 0;
}

#dialog-fechar:hover{
    background-color: red;
}